body {
	text-align: center;
	background-color: tan;
	font-family: Helvetica;
}
h2 {
	font-size: 18px;
}
h2.resume {
	text-decoration: underline;
}
p, ul {
	font-size: 16px;
}
p.resume {
	margin-left: 1%;
}
.bio {
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}
a {
	font-size: 26px;
	font-weight: bold;
	}
img { border: 0; }