/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #EEF1F4 url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #e6e6fa;
	background-color: #CCC;
}
h1, h2, h3 , h4, h5{
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFFFFF;
}
.title {
	border-bottom-width: medium;
	border-bottom-style: double;
	border-bottom-color: #A2B4D8;
	border-top-width: medium;
	border-top-style: double;
	border-top-color: #A2B4D8;
}


h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}


h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
	font-weight: lighter;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #FFBA37;
	border-bottom-width: 1px;
	border-bottom-style: none;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

a:hover {
	color: #FFCB69;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 1000px;
	height: 104px;
	margin: 0 auto;
	background: url(images/img03.jpg) no-repeat left top;
}
#social {
	background-color: lavender;
	padding: 3px;
	height: 22px;
	width: 72px;
	position: relative;
	float: right;
	top: 110px;
	right: 17px;
	border: medium ridge royalblue;
	z-index: 3;
}


/* Logo */

#logo {
	float: left;
	height: 60px;
	margin: 0;
	padding: 40px 0px 0px 20px;
	color: #FFFFFF;
	z-index: 2;
	position: relative;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 25px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 40px;
	font-variant: normal;
}

#logo p {
	float: left;
	margin: 0;
	padding: 22px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 279px;
	height: 110px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 50px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #262618;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 1000px;
	height: 46px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img04.jpg) no-repeat left top;
	z-index: 2;
	position: relative;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 48px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 32px;
	margin-right: 3px;
	padding: 14px 30px 0px 30px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background-color: #345FB1;
}

#menu .current_page_item a {
	background: #294B8C;
}

#menu a:hover {
	background: #345FB1;
	text-decoration: underline;
}

#splash {
	width: 1000px;
	height: 200px;
	margin: 0px auto;
	background-position: center;
	background-image: url(images/img05.jpg);
	background-repeat: no-repeat;
	z-index: 2;
	position: relative;
}

#showssplash {
	width: 1000px;
	height: 200px;
	margin: 0px auto;
	background-position: center;
	background-image: url(images/shows%20splash.jpg);
	background-repeat: no-repeat;
}

#memberssplash {
	width: 1000px;
	height: 200px;
	margin: 0px auto;
	background-position: center;
	background-image: url(images/memberssplash.jpg);
	background-repeat: no-repeat;
	z-index: 2;
	position: relative;
}

#mediasplash {
	width: 1000px;
	height: 200px;
	margin: 0px auto;
	background-position: center;
	background-image: url(images/mediasplash.jpg);
	background-repeat: no-repeat;
	z-index: 2;
	position: relative;
}

#cdssplash {
	width: 1000px;
	height: 200px;
	margin: 0px auto;
	background-position: center;
	background-image: url(images/cdssplash.jpg);
	background-repeat: no-repeat;
	z-index: 2;
	position: relative;
}
#contactsplash {
	width: 1000px;
	height: 200px;
	margin: 0px auto;
	background-position: center;
	background-image: url(images/contactsplash.jpg);
	background-repeat: no-repeat;
	z-index: 2;
	position: relative;
}


/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img07.jpg) repeat-y left top;
}

#page-bgtop {
	background: url(images/img06.jpg) no-repeat left top;
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
	background: url(images/img08.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: left;
	width: 520px;
	padding: 0px 20px;
}
#giglist {
	padding-right: 10px;
}


.post .title {
	height: 38px;
	letter-spacing: -0.5px;
	color: #FFF;
	text-transform: none;
	font-variant: small-caps;
	font-size: xx-large;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.post {
	border-bottom-width: thin;
	border-bottom-style: none;
	border-bottom-color: #A2B4D8;
}
.sideheadline {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 22px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #FFF;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#salogo {
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 0px;
}


.content {
	padding-top: 15px;
	padding-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
}




.post .title a {
	color: #FFFFFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
	text-transform: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.post .meta {
	margin-top: -10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #ACAD8E;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 330px;
	padding: 0px 0px 0px 0px;
	color: #000;
}

#sidebar ul {
	margin: 0;
	padding-top: 1;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 30;
	list-style-image: none;
	list-style-type: disc;
}

#sidebar li {
	margin: 0;
	padding-top: 1;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 30;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
	color: #000;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #ACAD8E;
	color: #000;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
	color: #000;
}

#sidebar a {
	border: none;
	color: #FFF;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	background: #231202;
}

#footer {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCC;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
	width: 1000px;
	height: 20px;
	padding-top: 10px;
}

#footer p {
	margin: 0;
	padding-top: 0px;
	line-height: normal;
	font-size: 9px;
	text-transform: lowercase;
	text-align: center;
	color: #656646;
}

#footer a {
	color: #3E3F27;
	text-decoration: underline;
}
.date {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.gig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.giginfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
}
#month {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	background-color: #345eb1;
	font-weight: bold;
	padding: 2px;
	font-variant: normal;
}
#footlinks {
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	text-transform: none;
	
}

#footlist li{
	display: inline;
	padding-right: 20px;
}

#footlinks a {
	color: #666;
	text-decoration: underline;
}

#video {
	padding-bottom: 20px;
	padding-top: 5px;
}
.headshot {
	float: left;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 1px;
	padding-left: 3px;
}

.cover {
	float: left;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 55px;
	padding-left: 3px;

.member {
	padding-top: 25px;
	padding-bottom: 15px;
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 1px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.member li {
	display: inline;
	padding-right: 10px;
}

.CD {
	height: 120px;
	width: 120px;
	position: relative;
	left: 120px;
	bottom: 120px;
}

a img {
	border: none; 
}
